.button {
  background-color: #00b4cf;
  padding: 0 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.button.primary {
  background-color: #00b4cf;
}

.button.primary:hover{
  background-color: #01869a;
}

.button.secondary{
  background-color: #2d4054;
}

.button.secondary:hover{
  background-color: #435466;
}