.header {
  text-align: center;
  padding: 10px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0px #888;
}

.header .logo {
  margin-top: -30px
}

.user {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 70px;
  display: block;
}

.user>span {
  width: 20px;
  height: 40px;
  line-height: 40px;
  float: right;
}

.user span.head {
  float: left;
  width: 40px;
  border: 1px solid #888;
  border-radius: 50%;
}

.menu {
  font-size: 14px;
  position: absolute;
  width: 150px;
  padding: 10px 0;
  top: 50px;
  right: 0;
  box-shadow: 1px 1px 1px 1px #888888;
  text-align: left;
  background-color: #ffffff;
  overflow: hidden;
}

.show-menu {
  animation: show_menu 0.05s;
}

.hide-menu {
  animation: hide_menu 0.05s;
}

@keyframes show_menu {
  0% {
    height: 0%;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

@keyframes hide_menu {
  0% {
    height: 100%;
  }
  25% {
    height: 75%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 25%;
  }
  100% {
    height: 0%;
  }
}

.menu>li {
  padding: 10px 0 10px 20px;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}

.menu>li span {
  margin-right: 10px;
}

.menu>li:hover {
  background-color: #efefef;
}

.footer {
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  background-color: #ffffff;
  box-shadow: 0 -1px 1px 0px #888888;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .blod {
  font-weight: bold;
}

.show {
  display: block
}

.hide {
  display: none;
}

.container {
  display: flex;
  flex-flow: row
}

.left-sider {
  width: 240px;
  height: calc(100vh - 94px);
  background-color: #2d4054;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-sider .nav {
  flex: 1;
  padding: 10px 0;
  height: calc(100vh - 400px);
}

.left-sider .nav>li {
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  cursor: pointer;
}

.left-sider .nav>li.curr,
.left-sider .nav>li:hover {
  color: #00b4cf;
  background-color: #d3ddeb;
}

.left-sider .nav>li>span {
  padding: 0 20px 0 20px;
}

.history {
  height: 400px;
}

.history .title {
  font-size: 24px;
  color: #ccc;
  padding-left: 20px;
}

.history>ul {
  padding: 10px;
}

.history>ul>li {
  color: #ccc;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.history>ul>li>span {
  padding: 10px;
  font-weight: bold;
}

.history>ul>li:hover {
  color: #00b4cf;
}

.main-view {
  width: 100%;
  padding: 12px;
  height: calc(100vh - 94px);
  overflow-y: auto;
  overflow-x: hidden;
}

.status {
  display: flex;
}

.building {
  background-color: #ff9a2a;
}

.idle {
  background-color: #7fbc39;
}

.detail {
  color: #000;
}

.status>div,
.status>ul {
  flex: 1;
  height: 144px;
  padding: 0 10px;
}

.status>div>div {
  height: 100%;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.status>div>div .title {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 28px;
  color: #fff;
}

.status>div>div .number {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 48px;
  color: #fff;
}

.status .detail {
  background-color: #ffffff;
}

.status .detail>li {
  display: flex;
  height: 50px;
  line-height: 50px;
}

.status .detail>li>span {
  flex: 1;
  padding: 0 10px;
}

.status .detail li span+span {
  font-weight: bold;
  text-align: right;
}

.searchingContainer {
  padding: 20px 0;
}

.searchingContainer .searching {
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
}

.searchingContainer .searching>ul {
  display: flex;
  width: 240px;
}

.searchingContainer .searching>ul>li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

.item-select {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00b4cf;
  height: 3px;
}

.result-container {
  margin-top: 15px;
}

.result-list {}

.result-list>li {
  padding: 12px;
  margin: 10px 0;
  background-color: #ffffff
}

.result-list>li>ul,
.result-list>li>div {
  padding: 10px 0;
}

.result-list>li>ul {
  display: flex;
}

.result-list>li>ul li {
  font-size: 14px;
  flex: 1;
  text-align: center;
}

.result-list>li>ul li .re-icon {
  padding-right: 12px;
}

.result-list>li>ul li .re-name {
  color: #00b4cf;
}

.re-status span {
  background-color: #ff9a2a;
  color: #fff;
  padding: 3px 5px;
}

.re-status span.s-idle {
  background-color: #4ec24a
}

.result-list>li>div {
  display: flex;
  position: relative;
}

.result-list li>div>ul {
  display: flex;
  height: 28px;
  line-height: 30px;
}

.result-list li>div>ul>li {
  flex: 1;
}

.resources>li>span {
  background-color: #efefef;
  padding: 5px;
  margin: 5px;
}

.resources>li>span i {
  margin-left: 5px;
  cursor: pointer;
}

.deny-button {
  position: absolute;
  right: 0px;
  top: 5px;

}